@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Yanone+Kaffeesatz:wght@200..700&display=swap');

html {
  /* font-family: "Yanone Kaffeesatz", sans-serif; */
  font-family: 'Comfortaa', sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  letter-spacing: 0.005em;
  background-color: var(--color-bouns);
  color: var(--color-grey);
}

*,
*::before,
*::after {
  margin: 0;
}


