.box-home {
  padding: 2em 3em;
  // min-height: 73.4vh;
}

.box-home-history {
  display: flex;
  flex-direction: column;
}

.box-home-history-title {
  display: flex;
  align-items: center;
}

.box-home-history-title__page {
  // font-size: calc(var(--index) * 0.8);
  font-size: 18px;
  font-weight: 600;
  margin-right: 1em;
}

.box-home-history-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 16em);
  gap: 2em;
  margin-top: 3em;
}

@media (min-width: 300px) and (max-width: 1000px) {
  .box-home-history-cards {
    justify-content: center;
  }
}
